body {
    background-color: #f0f2f5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}



.link {
  text-decoration: underline;
  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: inline-block;

  border: 1px solid transparent;
  cursor: pointer;
}

/* .hidden {
  display: none;
} */

a {
  color: inherit;
  padding: 0 2px;
}

a:hover, a:focus {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
}



/* ===================================================== */

header {
  position: fixed;

  height: 60px;
  width: 100%;
  background-color: #155aaf;

  display: flex;
  align-items: center;

  font-family: inherit;
  line-height: 1.5;
  color: #212529;
  font-weight: bold;

  z-index: 2;

  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.headerNav {
  padding-left: 15px; 

  display: flex;
  flex-direction: row;
  gap: 8px;

  list-style-type: none;
}

.headerNavBtn {
    margin: 0 auto;
    
    padding: 6px 12px;
    background-color: #f7faff;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0.5px solid lightgray;
    border-radius: 6px;
    font-size: 16px;
    
    cursor: pointer;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  }
  
  .headerNavBtn:is(:hover, :focus) {
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.35);
}


/* ================section================================== */

section {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 76px;
  padding-bottom: 56px;
}

.cardsList {
  padding: auto;
  margin: 0;
  list-style-type: none;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  max-width: calc(100vw - 48px)
}

.card {
  min-width: 23%;
  min-height: auto;
  width: 23%;
  height: 30%;
  background-color: #f7faff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0.5px solid lightgray;
  cursor: pointer;
  transform: scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.card:is(:hover, :focus) {
  transform: scale(1.02)
}

.btnLoadMore {
    margin: 20px auto;
    
    padding: 8px 24px;
    font-size: 16px;
    color: #f7faff;
    /* font-weight: bold; */
    background-color: #155aaf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0.5px solid #155aaf;
    border-radius: 6px;
    
    cursor: pointer;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  }
  
  .btnLoadMore:is(:hover, :focus) {
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.35);
}

 
 .loader {
  margin: 20px auto;
  padding: 8px 24px;
}
